<%= provide(:title, 'All users') %>

<%= form_tag users_path, :method => 'get' do %> 
             <p>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Search", :name => nil %>
             </p>
            <% end %> 

<div class="container">
<h1>登録ユーザー</h1>
<%= @found_user.name %>

<%= will_paginate %> 

<div id="users_back">
<ul class= "users" >
  <% @users.each do |foo| %>
    <%= render foo %>
  <% end %>
     
</ul>
</div>

<%= will_paginate %>
</div>