<%= provide(:title, 'All users') %>

<%= form_tag search_path, :method => 'get' do %> 
   <p>
     <%= text_field_tag :search, params[:search] %>
     <%= submit_tag "Search", :name => nil %>
   </p>
<% end %> 



<!-- <tbody>
    <#% @request.each do |user| %>
      <tr>
        <td><#%= user.name %></td>
        <td><#%= user.email %></td>
             </tr>
    <#% end %>
  </tbody>
 -->


<div class="container">
<h1>登録ユーザー</h1>

<%= will_paginate %> 

<div id="users_back">
<ul class= "users" >
  <% @users.each do |foo| %>
    <%= render foo %>
  <% end %>
     
</ul>
</div>

<%= will_paginate %>
</div>