<div class="container">
<h1>お問い合わせフォーム</h1>

<div class="contactfooter">
<div class= "row">
 <div class= "span6 offset3">

<%= form_for(@contact) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
 
  	<%= f.label :name, 'お名前' %>
  	<%= f.text_field :name %>

  	<%= f.label :email, 'メールアドレス' %>
  	<%= f.text_field :email %>

  	
  	<div class="field">
  	<%= f.label :content, 'お問い合わせ内容' %>
  	<%= f.text_area :content, placeholder:""%>
    </div>
  
  
  <%= f.submit "送信", class: "btn btn-large btn-primary" %>
<% end %>
</div>
 </div>
</div>
</div>


